*
!.dockerignore

!dashboard/
!dashboard/dashboard-api/
!dashboard/dashboard-api/Dockerfile
!dashboard/dashboard-api/package.json
!dashboard/dashboard-api/package-lock.json
!dashboard/dashboard-api/server.js
!dashboard/dashboard-api/actions.js

!dashboard/dashboard-frontend/
!dashboard/dashboard-frontend/Dockerfile
!dashboard/dashboard-frontend/package.json
!dashboard/dashboard-frontend/package-lock.json
!dashboard/dashboard-frontend/index.html
!dashboard/dashboard-frontend/src/
!dashboard/dashboard-frontend/src/**

!reports/
!reports/**

**/node_modules
**/*.bak
**/*.log
reports/**/*.tar
reports/**/*.tar.gz
reports/**/*.sha256
